<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your BodyBay Catalog</h1>

<% @products.each do |product| %>
  <div class="entry">
   
    <%= link_to(image_tag(product.image_url)) %>
    <h3><%= product.title %></h3>
    <info><%= sanitize(product.description) %></info>
	
    <div class="price_line">
	
<!-- START:currency -->
      <span class="price"><%= number_to_currency(product.price) %></span>
<!-- END:currency -->
    </div>
    

  </div>
<% end %>
